@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

body {
  background-color: #5f6368;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.square {
  height: 80px;
  width: 80px;
}
.black {
  background-color: #535353;
}
.white {
  background-color: #dee1e6;
}

.black-selected {
  background-color: #d74840;
}
.white-selected {
  background-color: #e2514c;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
