@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

.square {
  height: 80px;
  width: 80px;
}
.black {
  background-color: #7d945d;
}
.swhite {
  background-color: #eeeed5;
}

.black-selected {
  background-color: #d74840;
}
.white-selected {
  background-color: #e2514c;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
